/* Это основной css файл, где прописаны все глобальные стили ко всем элементам. */

@import "desktop_1120/desktop.css" screen and (min-width: 1120px);
@import "tablet_768/tablet.css" screen and (min-width: 767.9px) and (max-width: 1119.9px);
@import "mobile_320/mobile.css" screen and (min-width: 319.9px) and (max-width: 767.9px);
@import "visually-hidden.css";

@font-face {
  font-family: "TT Lakes Condensed";
  src: local("TT Lakes Condensed"),
    url("../fonts/TTLakes-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Condensed";
  src: local("TT Lakes Condensed"),
    url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes Condensed";
  src: local("TT Lakes Condensed"),
    url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  /* todo: указать font, font-size, line-height, font-weight, color шрифта, background color */

  font-family: "TT Lakes Condensed", Tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  color: black;

  background-color: #f8f8f8;
}

.list {
  list-style-type: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.line {
  height: 32px;
  border-left: 2px solid #eaeaea;
}

.b-block__button--style-changed {
  padding: 0;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.i-list__button {
  color: #7e7e82;
}
