@media (min-width: 1440px) {
  .aside-menu__block:last-child {
    order: 2;
    margin-right: 24px;
  }

  .aside-menu__block:nth-child(2) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1439.9px) {
  .aside-menu__block:last-child {
    order: 2;
    margin-right: 24px;
  }
}

@media (max-width: 767.9px) {
  .aside-menu__block:last-child {
    order: 2;
    margin-right: 24px;
  }
}