@media (min-width: 1440px) {
  .aside-menu__footer {
    margin-top: 142px;
    padding-bottom: 32px;
  }
}

@media (min-width: 768px) and (max-width: 1439.9px) {
  .aside-menu__footer {
    position: absolute;
    bottom: 0;
    width: 222px;
    max-height: 188px;
    padding-bottom: 32px;

    @media screen and (max-height: 765px) {
      position: static;
    }
  }
}

@media (max-width: 767.9px) {
  .aside-menu__footer {
    position: absolute;
    bottom: 0;
    width: 222px;
    max-height: 188px;
    padding-bottom: 32px;

    @media screen and (max-height: 765px) {
      position: static;
    }
  }
}