@media (min-width: 1440px) {
  .aside-menu {
    grid-area: aside;
    width: 320px;
    height: auto;

    background-color: $white-color;

    font-weight: 600;

    overflow: auto;

    transition: $transition;
  }
}

@media (min-width: 768px) and (max-width: 1439.9px) {
  .aside-menu {
    position: fixed;
    top: 0;
    left: 0;

    width: 320px;
    height: 100%;

    z-index: 20;

    background-color: $white-color;
    box-shadow: 16px 0 50px 0px $shadow-color;

    font-weight: 600;

    overflow: auto;

    transition: $transition;
  }
}

@media (max-width: 767.9px) {
  .aside-menu {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 320px;
    max-width: 360px;
    height: 100%;

    z-index: 20;

    background-color: $white-color;
    box-shadow: 16px 0 50px 0px $shadow-color;

    font-weight: 600;

    overflow: auto;

    transition: $transition;
  }
}