.b-block__img,
.aside-menu__img,
.close-button__img {
  transition: 400ms;
}

.button:hover .b-block__img,
.button:hover .aside-menu__img,
.button:hover .close-button__img {
  transform: scale(1.2);
  color: $hover-font-color;
}