.modal {
  position: fixed;
  top: 0;
  right: 0;

  height: 100%;

  z-index: 22;

  box-shadow: -16px 0 50px 0px $shadow-color;
  
  @media (min-width: 320px) {
    width: 320px;
  }
  
  @media (min-width: 1440px) {
    width: 440px;
  }

  background-color: $white-color;
  transition: $transition;

  .link {
    color: $cherry-color;
    transition: $transition;

    &:hover {
      color: $hover-font-color;
    }
  }
}