.wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  max-width: 1440px;

  display: grid;
  grid-template-areas:
    "aside header"
    "aside main";
}

.main,
.header {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.header-wrapper {
  position: relative;
  margin-left: auto;
  transform: translate(341px, 32px);
}

.header-list {
  display: none;
}

.second-header-list {
  display: flex;
  align-content: center;
  align-items: center;
}

.second-header-list .header-list__item:where(.header-list__item:nth-child(1),
  .header-list__item:nth-child(4),
  .header-list__item:nth-child(5),
  .header-list__item:nth-child(6),
  .header-list__item:nth-child(7)) {
  display: none;
}

.b-block__button {
  display: flex;
}

.button__text {
  font-family: "TT Lakes Condensed", Tahoma, sans-serif;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
  margin-right: 8px;
  margin-left: 32px;
}

.title {
  position: absolute;
  top: 35px;
  padding-left: 32px;
  font-size: 30px;
}

.title::before {
  content: url(../../img/highlight.svg);
  position: absolute;
  top: -10px;
  left: 0;
}

.i-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 32px;
  margin-bottom: 16px;
  margin-top: 40px;
}

.i-list__link {
  display: block;
  padding: 8px;
  white-space: nowrap;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #7e7e82;
}

.i-list__link--selected {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.section {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
}

.first-section-block {
  max-width: 50%;
}

.section-block__text {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 48px;
}

.section-block__link {
  color: black;
  font-weight: 600;
  display: none;
}

.section-block__link::before {
  content: url(../../img/icon.svg);
  margin-right: 8px;
}

.section-block__img {
  max-width: 100%;
}

.overlay {
  display: none;
}

.aside-menu {
  grid-area: aside;
  width: 320px;
  height: auto;

  background-color: #fff;

  font-weight: 600;

  overflow: auto;

  transition: 400ms;
}

.aside-menu__block:nth-child(2) {
  display: none;
}

.aside-menu__block--with-logo {
  order: 1;
  margin-right: auto;
}

.aside-menu__footer {
  margin-top: 142px;
  padding-bottom: 32px;
}

.brands__title {
  color: #7e7e82;
  font-size: 16px;
  font-weight: normal;
  max-width: 1440px;

  padding: 16px 32px;
  background-image: linear-gradient(to right, #f8f8f8, #fff);

  text-transform: uppercase;
}

.brands__list {
  margin-left: 32px;
  height: 165px;
  display: grid;
  grid-template-columns: 240px 240px 240px 240px;
  grid-template-rows: 72px 72px 72px;

  row-gap: 16px;
  column-gap: 32px;
  overflow-y: hidden;
}

.brands__link {
  display: flex;
  height: 72px;
  min-width: 224px;
  max-width: 240px;

  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  justify-content: space-between;
  align-items: center;

  transition: 400ms;
}

.brands-block--with-swiper {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);

  overflow: hidden;
}
