h2 {
  margin: 0;
}

.list {
  list-style-type: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.line {
  height: 32px;
  border-left: 2px solid $border-color--second;
}

.button {
  padding: 0;
  background-color: transparent;
  border: none;

  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $hover-font-color;
  }
}

.general-button {
  font-family: $font-stack;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;

  padding: 8px 12px;
  padding-right: 0;
  border-radius: 35px;

  color: $white-color;
  background-color: $cherry-color;

  transition: $transition ease-in-out;

  text-wrap: nowrap;

  &:after {
    content: url("../img/dropdown.svg");
    margin-left: 17px;
    margin-right: 11px;
    vertical-align: middle;
  }

  &:hover {
    color: $white-color;
    filter: hue-rotate(-6deg);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.151));
    box-shadow: inset 0 0 20px -15px $font-color;

    transform: scale(1.01);
  }
}

.brands__list--show {
  height: auto !important;
  overflow: visible !important;
}

.repair__list--show {
  height: auto !important;
  overflow: visible !important;
}

.swiper-pagination span {
  background-color: $hover-font-color;
  padding: 2px;
}

.section-block__text--show {
  overflow: visible !important;
  max-height: 500px !important;
  height: auto !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 10;

  background-color: $white-color;
  opacity: 0.95;
}
