.header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 8px;
}

.header-list {
  display: flex;
  align-content: center;
  align-items: center;
}

.header-list__item {
  margin-right: 16px;
}

.header-list__item:nth-child(2) {
  order: -1;
}

.header-list__item:nth-child(3) {
  order: -2;
}

.title {
  font-size: 30px;
  margin-top: 24px;
  margin-bottom: 32px;
  margin-left: 24px;
}

.title::before {
  content: url(../../img/highlight.svg);
  position: absolute;
  top: 106px;
  left: 0;
}

.i-list {
  display: flex;
  align-items: center;
  overflow: auto;
  text-overflow: ellipsis;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;

  max-width: auto;
}

.i-list__link {
  display: block;
  padding: 8px;
  white-space: nowrap;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #7e7e82;
}

.i-list__link--selected {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.section {
  display: flex;

  margin-left: 24px;
  margin-right: 24px;
}

.first-section-block {
  max-width: 50%;
}

.second-section-block {
  max-width: 50%;
}

.section-block__text {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 48px;
  height: 160px;
  overflow: hidden;
}

.section-block__link {
  color: black;
  font-weight: 600;
}

.section-block__link::before {
  content: url(../../img/icon.svg);
  margin-right: 8px;
}

.section-block__img {
  max-width: 100%;
  max-height: 100%;
}

.second-line {
  display: none;
}

.second-header-list .header-list__item:first-child {
  display: none;
}

.second-header-list .header-list__item:nth-child(5) {
  order: 3;
}

.second-header-list .header-list__item:nth-child(2),
.second-header-list .header-list__item:nth-child(3) {
  order: 4;
}

.visually-hidden--is-tablet {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);

  overflow: hidden;
}
