.header-wrapper {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 8px;
}

.header-list {
  display: flex;
  align-content: center;
  align-items: center;
}

.header-list__item {
  margin-right: 16px;
}

.header-list__item:nth-child(2) {
  order: -1;
}

.header-list__item:nth-child(3) {
  order: -2;
}

.title {
  font-size: 30px;
  margin-top: 24px;
  margin-bottom: 32px;
  margin-left: 24px;
}

.title::before {
  content: url(../../img/highlight.svg);
  position: absolute;
  top: 106px;
  left: 0;
}

.i-list {
  display: flex;
  align-items: center;
  overflow: auto;
  text-overflow: ellipsis;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 32px;

  max-width: auto;
}

.i-list__link {
  display: block;
  padding: 8px;
  white-space: nowrap;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #7e7e82;
}

.i-list__link--selected {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.section {
  display: flex;

  margin-left: 24px;
  margin-right: 24px;
}

.first-section-block {
  max-width: 50%;
}

.second-section-block {
  max-width: 50%;
}

.section-block__text {
  margin: 0;
  margin-bottom: 10px;
  padding-right: 48px;
  height: 160px;
  overflow: hidden;
}

.section-block__link {
  color: black;
  font-weight: 600;
}

.section-block__link::before {
  content: url(../../img/icon.svg);
  margin-right: 8px;
}

.section-block__img {
  max-width: 100%;
  max-height: 100%;
}

.second-line {
  display: none;
}

.second-header-list .header-list__item:first-child {
  display: none;
}

.second-header-list .header-list__item:nth-child(5) {
  order: 3;
}

.second-header-list .header-list__item:nth-child(2),
.second-header-list .header-list__item:nth-child(3) {
  order: 4;
}

.visually-hidden--is-tablet {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);

  overflow: hidden;
}

.aside-menu {
  position: fixed;
  top: 0;
  left: 0;

  width: 320px;
  height: 100%;

  z-index: 20;

  background-color: #fff;
  box-shadow: 16px 0 50px 0px rgba(14, 24, 80, 0.2);

  font-weight: 600;

  overflow: auto;

  transition: 400ms;
}

.aside-menu__block--with-logo {
  order: 1;
  margin-left: 16px;
  margin-right: auto;
}


.aside-menu__footer {
  position: absolute;
  bottom: 0;
  width: 222px;
  max-height: 188px;
  padding-bottom: 32px;
}

@media screen and (max-height: 765px) {
  .aside-menu__footer {
    position: static;
  }
}

.aside-menu--closed {
  transform: translateX(-400px);
}

.brands__title {
  color: #7e7e82;
  font-size: 16px;
  font-weight: normal;

  padding: 16px 24px;
  background-image: linear-gradient(to right, #f8f8f8, #fff);

  text-transform: uppercase;
}

.brands__list {
  margin-left: 24px;
  height: 165px;
  display: grid;
  grid-template-columns: 224px 224px 224px;
  grid-template-rows: 72px 72px 72px;

  row-gap: 16px;
  column-gap: 24px;
  overflow-y: hidden;
}

@media screen and (min-width: 1024px) {
  .brands__list {
    grid-template-columns: 224px 224px 224px 224px;
  }
}

@media screen and (min-width: 1280px) {
  .brands__list {
    grid-template-columns: 224px 224px 224px 224px 224px;
  }
}

.brands__link {
  display: flex;
  height: 72px;
  min-width: 220px;

  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  justify-content: space-between;
  align-items: center;

  transition: 400ms;
}