$tab-xs-width:            1024px;
$tab-s-width:             1280px;

$font-stack:             'TT Lakes Condensed', Tahoma, sans-serif;

$transition:              400ms;

$body-color:            #F8F8F8;
$white-color:           #FFFFFF;
$cherry-color:          #FF3E79;
$font-color:            #1B1C21;
$hover-font-color:      #7E7E82;
$transparent-color:       transparent;
$border-color:          #b8ffec;
$border-color--second:  #eaeaea;
$shadow-color:          rgba(14, 24, 80, 0.2);